/*
  Custom Theming for NG-ZORRO
  For more information: https://ng.ant.design/docs/customize-theme/en

  Override less variables to here
  View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less
  ! Base Size: 21.02 kB
  ? @import "~ng-zorro-antd/style/entry.less";
  ! Button Size: 37.19 kB
  ? @import "~ng-zorro-antd/button/style/entry.less";
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
// ! Full Import Size: 502.05 kB
@import "/projects/card/style.less";
@import "~ng-zorro-antd/ng-zorro-antd.compact.less";
// @import "~ng-zorro-antd/ng-zorro-antd.less";
@import "./app/theme/layout/components/sidebar/sidebar.theme.less";

//font
@font-size-base: 13px;
@font-family: Poppins, ui-sans-serif, system-ui, -apple-system,
  BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
  Noto Color Emoji;
//layout
@layout-body-background: #f0f2f5;
@layout-header-background: #333484;
@layout-sider-background: #0f172a;
//! MENU START
//? Menu => Background Colors

//? Menu => Height
@menu-item-height: 40px;
@menu-inline-toplevel-item-height: @menu-item-height;
//? Menu => Margin
@menu-item-vertical-margin: 0px;
@menu-item-boundary-margin: 0px;
//! MENU END
//menu
.@{menu-prefix-cls} {
  &-vertical,
  &-vertical-left,
  &-vertical-right,
  &-inline {
    border-right: initial;
    border-left: initial;
    .@{menu-prefix-cls}-item,
    .@{menu-prefix-cls}-submenu-title,
    .@{menu-prefix-cls}-item-group-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
  &-inline {
    > .@{menu-prefix-cls}-submenu, > .@{menu-prefix-cls}-item  {
      >.@{menu-prefix-cls}-item,
      >.@{menu-prefix-cls}-submenu-title,
      >.@{menu-prefix-cls}-item-group-title  {
        padding-left: 20px !important;
      }
      .@{menu-prefix-cls}-sub {
        > ul {
          .@{menu-prefix-cls}-item,
          .@{menu-prefix-cls}-submenu-title,
          .@{menu-prefix-cls}-item-group-title  {
            padding-left: 25px !important;
          }
        }
        .@{menu-prefix-cls}-sub {
          > ul {
            .@{menu-prefix-cls}-item,
            .@{menu-prefix-cls}-submenu-title,
            .@{menu-prefix-cls}-item-group-title  {
              padding-left: 30px !important;
            }
          }
          .@{menu-prefix-cls}-sub {
            > ul {
              .@{menu-prefix-cls}-item,
              .@{menu-prefix-cls}-submenu-title,
              .@{menu-prefix-cls}-item-group-title  {
                padding-left: 35px !important;
              }
            }
          }
        }
      }
    }
    .@{menu-prefix-cls}-sub{
      .@{menu-prefix-cls}-item, .@{menu-prefix-cls}-submenu-title{
        &::before {
          width: 6px;
          height: 6px;
          content: "";
          border: 1px solid;
          border-radius: 3px;
          margin-right: 10px;
        }
      }
    }
  }
}
// .ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu-open {
//   background-color: hsla(0, 0%, 100%, 0.06);
// }
