@ant-prefix: "ant";
@menu-prefix-cls: ~"@{ant-prefix}-menu";



//! HEADER START
@layout-header-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.30);
@layout-header-background: #001529;
@layout-header-height: 64px;
@layout-header-padding: 0 50px;
@layout-header-color: #001529;
//! HEADER END

//! FOOTER START
@layout-footer-box-shadow: 2px 0px 5px 0px rgba(0, 0, 0, 0.30);
@layout-footer-background: #001529;
@layout-footer-height: 64px;
@layout-footer-padding: 24px 50px;
@layout-footer-color: #001529;
//! FOOTER END

//! MENU START
//? Menu => Background Colors
@layout-sider-box-shadow: 3px 0px 5px 0px rgba(158, 158, 158, 0.66);
@layout-sider-background: #313483;
@menu-bg: transparent;
@menu-popup-bg: @layout-sider-background;
@menu-item-active-bg: hsla(0, 0%, 100%, 0.12);
@menu-item-highlight-bg: hsla(0, 0%, 100%, 0.06);
//? Menu => Colors
@menu-item-color: #f8fafc;
@menu-item-active-color: f8fafc;
@menu-item-highlight-color: #f8fafc;
@menu-item-group-title-color: @menu-item-color;
//? Menu => Height
@menu-item-height: 40px;
@menu-inline-toplevel-item-height: @menu-item-height;
//? Menu => Margin
@menu-item-vertical-margin: 0px;
@menu-item-boundary-margin: 0px;
//! MENU END

// default theme
.@{menu-prefix-cls} {
  color: @menu-item-color;
  background: @menu-bg;

  &-vertical,
  &-vertical-left,
  &-vertical-right,
  &-inline {
    border-right: initial;
    border-left: initial;
    .@{menu-prefix-cls}-item,
    .@{menu-prefix-cls}-submenu-title,
    .@{menu-prefix-cls}-item-group-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      &:hover {
        background-color: @menu-item-highlight-bg;
      }
    }
  }

  &-inline {
    .@{menu-prefix-cls}-sub{
      .@{menu-prefix-cls}-item, .@{menu-prefix-cls}-submenu-title{
        &::before {
          border-color: inherit;
        }
      }
    }
  }

  &-item-group-title {
    color: @menu-item-group-title-color;
  }

  &-submenu-selected {
    color: @menu-item-color;
  }

  &-item:active,
  &-submenu-title:active {
    background: @menu-item-active-bg;
  }

  &-item a {
    color: @menu-item-color;
    &:hover {
      color: @menu-item-highlight-color;
    }
  }

  // https://github.com/ant-design/ant-design/issues/19809
  &-item > .@{ant-prefix}-badge a {
    color: @menu-item-color;
    &:hover {
      color: @menu-item-highlight-color;
    }
  }

  &-item:hover,
  &-item-active,
  &:not(&-inline) &-submenu-open,
  &-submenu-title:hover {
    color: @menu-item-highlight-color;
  }

  &:not(&-horizontal) &-item-selected {
    background-color: @menu-item-active-bg;
    &:hover {
      background-color: @menu-item-highlight-bg;
    }
  }

  &-item-selected, &-item-selected a {
    color:  @menu-item-active-color;
    border-color: @menu-item-active-color;
    &:hover {
      color: @menu-item-highlight-color;
      border-color: @menu-item-highlight-color;
    }
  }

  &-submenu {
    > .@{menu-prefix-cls} {
      background-color: @menu-bg;
    }

    &-popup > .@{menu-prefix-cls} {
      background-color: @menu-popup-bg;
    }

    &-expand-icon,
    &-arrow {
      color: @menu-item-color;
    }

    &:hover > &-title > &-expand-icon,
    &:hover > &-title > &-arrow {
      color: @menu-item-highlight-color;
    }
  }

  &-vertical &-submenu-selected,
  &-vertical-left &-submenu-selected,
  &-vertical-right &-submenu-selected {
    color: @menu-item-color;
  }

  &-horizontal {
    &:not(.@{menu-prefix-cls}-dark) {
      > .@{menu-prefix-cls}-item,
      > .@{menu-prefix-cls}-submenu {
        &:hover,
        &-active,
        &-open,
        &-selected {
          color: @menu-item-highlight-color;
          border-bottom: 2px solid @menu-item-highlight-color;
        }
      }
    }

    > .@{menu-prefix-cls}-item {
      a {
        color: @menu-item-color;
        &:hover {
          color: @menu-item-highlight-color;
        }
      }
      &-selected a {
        color: @menu-item-highlight-color;
      }
    }
  }
}

guru-card {
  .mat-drawer{
    -webkit-box-shadow: @layout-sider-box-shadow;
    -moz-box-shadow: @layout-sider-box-shadow;
    box-shadow: @layout-sider-box-shadow;
  }
  .mat-drawer-side{
    border: unset;
  }
  guru-header {
    -webkit-box-shadow: @layout-header-box-shadow;
    -moz-box-shadow: @layout-header-box-shadow;
    box-shadow: @layout-header-box-shadow;
    z-index: 2;
    .mat-toolbar {
      background-color: @layout-header-background;
      height: @layout-header-height;
      color: @layout-header-color;
      padding: @layout-header-padding;
      h1,h2,h3,h4,h5,h6, label, span, i, p {
        color: @layout-header-color;
      }
    }
  }
  guru-footer {
    -webkit-box-shadow: @layout-footer-box-shadow;
    -moz-box-shadow: @layout-footer-box-shadow;
    box-shadow: @layout-footer-box-shadow;
    z-index: 2;
    .mat-toolbar {
      background-color: @layout-footer-background;
      height: @layout-footer-height;
      color: @layout-footer-color;
      padding: @layout-header-padding;
      h1,h2,h3,h4,h5,h6, label, span, i, p {
        color: @layout-header-color;
      }
    }
  }
}

matrix-sidebar-left {
  guru-card {
    guru-header {
      .mat-toolbar {
        background-color: @layout-sider-background;
      }
    }
    guru-content {
      background-color: @layout-sider-background;
      background-image: url('/assets/images/bg/sidebar-bg.png');
    }
  }
}
