<guru-card class="matrix-layout">
  <guru-sidebar-left class="matrix-layout-sidebar-left" #guruSidebarLeft [width]="sidebarLeftWidth" [opened]="true"
    mode="side">
    <matrix-sidebar-left></matrix-sidebar-left>
  </guru-sidebar-left>
  <guru-sidebar-right class="matrix-layout-sidebar-right" #guruSidebarRight width="100px" [opened]="false" mode="push">
  </guru-sidebar-right>
  <guru-header [position]="headerPosition" class="matrix-layout-header">
    <app-header fxFill></app-header>
  </guru-header>
  <guru-content class="matrix-layout-content">
    <theme-config></theme-config>
  </guru-content>
  <guru-footer id="2" [position]="footerPosition" class="matrix-layout-footer">
    <h3>Footer</h3>
  </guru-footer>
</guru-card>
