<guru-card>
  <guru-sidebar-left #navLeft width="250px" [opened]="true" mode="side">
    <matrix-sidebar-left></matrix-sidebar-left>
  </guru-sidebar-left>
  <guru-sidebar-right #navRight width="100px" [opened]="false" mode="push">
  </guru-sidebar-right>
  <guru-header [position]="headerPosition">
    <app-header></app-header>
  </guru-header>
  <guru-content>
    <nz-form-item *ngFor="let key of validSidebarKeys">
      <nz-form-label [nzSpan]="4">{{mlTheme.Sidebar[key].desc}}</nz-form-label>
      <nz-form-control [nzSpan]="14">
        <button [cpPosition]="'bottom'" style="height: 25px; width: 25px; border:1px solid black;"
          [style.background]="mlTheme.Sidebar[key].default" [(colorPicker)]="mlTheme.Sidebar[key].default">
        </button>
      </nz-form-control>
    </nz-form-item>
    <button (click)="preview()">Calc</button>
  </guru-content>
  <guru-footer [position]="footerPosition">
    <app-footer></app-footer>
  </guru-footer>
</guru-card>
