<guru-card class="matrix-layout">
  <guru-content class="matrix-layout-content">
    <form nz-form [nzLayout]="'vertical'">
      <div nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }">
        <div nz-col [nzSpan]="6">
          <h3>Sidebar Config</h3>
          <hr />
          <nz-form-item *ngFor="let key of getKeys(mlTheme?.sidebar)">
            <ng-container [ngTemplateOutlet]="configTemplate"
              [ngTemplateOutletContext]="{ $implicit: mlTheme.sidebar[key], isHorizontal: false}">
            </ng-container>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
          <h3>Header Config</h3>
          <hr />
          <nz-form-item *ngFor="let key of getKeys(mlTheme?.header)">
            <ng-container [ngTemplateOutlet]="configTemplate"
              [ngTemplateOutletContext]="{ $implicit: mlTheme.header[key], isHorizontal: false}">
            </ng-container>
          </nz-form-item>
        </div>
        <div nz-col [nzSpan]="6">
          <h3>Footer Config</h3>
          <hr />
          <nz-form-item *ngFor="let key of getKeys(mlTheme?.footer)">
            <ng-container [ngTemplateOutlet]="configTemplate"
              [ngTemplateOutletContext]="{ $implicit: mlTheme.footer[key], isHorizontal: false}">
            </ng-container>
          </nz-form-item>
        </div>
      </div>
    </form>
    <button (click)="preview()">Preview</button>
  </guru-content>
</guru-card>

<ng-template #configTemplate let-config let-isHorizontal="isHorizontal">
  <nz-form-label>{{config.desc}} </nz-form-label>
  <nz-form-control *ngIf="config.ctrlType === 'color'">
    <input nz-input [cpPosition]="'bottom'" [style.background]="config.default" [(colorPicker)]="config.default"
      [(ngModel)]="config.default" [ngModelOptions]="{standalone: true}">
  </nz-form-control>
  <nz-form-control *ngIf="config.ctrlType === 'text'">
    <input nz-input [(ngModel)]="config.default" [ngModelOptions]="{standalone: true}" placeholder="">
  </nz-form-control>
  <nz-form-control *ngIf="config.ctrlType === 'option'">
    <nz-select [(ngModel)]="config.default">
      <nz-option *ngFor="let opt of config.options" [nzValue]="opt.value" [nzLabel]="opt.text">
      </nz-option>
    </nz-select>
  </nz-form-control>
</ng-template>
